=@restaurant.name
=@branch.city
=@branch.address
%button.bg-blue-500.hover:bg-blue-700.text-white.font-bold.py-2.px-4.rounded
    =link_to "Place Order", new_restaurant_branch_order_path(@restaurant, @branch)

%div.flex.flex-wrap.mb-3.justify-around.mx-24
    -@menu_items.each do |m|
        -# %div.rounded-lg.overflow-hidden.shadow-lg.w-full.h-20.text-left.bg-white.mt-5.flex.items-center.m-auto
        -#     %img.w-16.h-16.rounded-full.mr-4.bg-gray-700.ml-3
        %div{ class: ['lg:w-1/4', 'sm:w-1/2', 'xl:1/4','rounded-lg','overflow-hidden','shadow-lg', 'm-4', 'bg-white']}
            %img.w-full
                =image_tag "burger.jpg"
            %div.px-6.py-4.flex.flex-col.items-stretch.flex-wrap.jusrify-end
                
                %div.font-bold.text-lg.mb-1.flex-1
                    %p
                        =m.name
                    %p.text-right
                        =m.ar_name
                %p.text-gray-700.text-sm.flex-1
                    =m.description
            %div.px-6.py-4
                = link_to "Add", new_restaurant_branch_order_order_line_path(@restaurant.id, @branch.id, @order.id) unless @order.nil?
- if can? :update, @branch
    = link_to 'Edit', edit_restaurant_branch_path