=simple_form_for  @restaurant do |f|

    %div.feild
        =f.input :name

    %div.feild
        =f.input :description

    %div.feild
        = f.simple_fields_for :branches do |b|       
            = render 'branch_fields', f: b
    .links
        = link_to_add_association 'add branch', f, :branches


    = f.submit 'submit'
    