
<div class=" font-sans w-full " >
  <div class=" bg-cover bg-top  " style="background-image: url(https://www.exploregeorgia.org/sites/default/files/2019-06/2019-culinary-guide-cover.jpg); height:50vh;">
      <div class="bg-black opacity-75 w-full h-full">
  <%# </div> %>
  <div class="opacity-100 container m-auto flex flex-col justify-center md:flex-row max-w-xl">
    <div class="flex flex-col w-full lg:w-1/2 justify-center  py-8">
      <h1 class=" my-4 text-6xl font-thin text-white">Hungry?</h1>
      <p class="leading-normal mb-4 text-2xl text-white ">I'm here to feed your tiny stomack!</p>
      <%= link_to 'Restaurants', restaurants_path, class: "bg-transparent hover:bg-sp-mn text-center w-full text-sp-mn  hover:text-white py-2 px-4 border border-sp-mn hover:border-transparent "%>
      <%# <button
        class="bg-transparent hover:bg-sp-mn text-white  hover:text-white py-2 px-4 border border-sp-mn hover:border-transparent ">Restaurants</button> %>
    </div>
    <%# <div class="w-full lg:w-1/2 lg:py-6"><%=image_tag 'landing.jpg', class: "w-full"%>

  </div>
  </div>
</div><section
  class="my-8 font-sans container max-w-xl m-auto flex flex-col lg:flex-row text-center lg:text-left sm:items-center">
  <div class="w-full bg-cover  lg:w-1/2"><img src="https://inspirationfeed.com/wp-content/uploads/2018/02/Spitonys-pizza-night.jpeg" alt=""></div>
  <div class="w-full lg:w-1/2 flex flex-col justify-center items-start p-8 items-center lg:items-start">
    <label for="tagline" class="uppercase tracking-wide text-gray-700 font-bold">Easy to use</label>
    <h1 class="my-4 font-normal">Get Stomach Full Faster Than You Think</h1>

  </div>
</section>
<section
  class="my-8 pt-8 font-sans container max-w-xl m-auto flex flex-col-reverse lg:flex-row text-center lg:text-left sm:items-center">
  <div class="w-full lg:w-1/2 flex flex-col justify-center items-start p-8 items-center lg:items-start">
    <label for="tagline" class="uppercase tracking-wide text-gray-700 font-bold">Wide Range of Food Menus</label>
    <h1 class="my-4 font-normal">All Food Type in This Beautiful Site Under Your Finger's Tips</h1>

  </div>
  <div class="w-full lg:w-1/2"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbinjBOUAWtmsHZ0QVdZjYa2FQPA7TrI7VwRZeqIZCmjIBtuti&s" alt=""></div>
</section><section class="font-sans text-center my-8 px-8">

  
</section>

