<footer class="font-sans bg-gray-900 text-white py-8 px-4">
  <div class="mx-auto container overflow-hidden flex flex-col lg:flex-row justify-between">
    <p class="block mr-4 w-1/2" style="font-family: 'Gill Sans';font-weight: 300; font-size: 20px;letter-spacing: 3px;">
      Food Court
    </p>
    <div class="w-1/2 flex text-sm mt-6 lg:mt-0">
      <ul class="text-gray-700 list-none p-0 font-thin flex flex-col text-left">
        <li class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide">Restaurants</li>
      </ul>
      <ul class="text-gray-700 list-none p-0 font-thin flex flex-col text-left">
        <li class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide">This Site</li>
      </ul>
      <ul class="text-gray-700 list-none p-0 font-thin flex flex-col text-left">
        <li class="inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide">About</li>

      </ul>
      <div class="text-gray-700 flex flex-col">
        <div class="inline-block py-2 px-3 text-white uppercase font-medium tracking-wide">Follow Me</div>
        <div class="flex pl-4 justify-start">

        </div>
      </div>
    </div>
  </div>
</footer>